*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    font-family: "Roboto", serif;
}
.conatiner{
    max-width: 1000px;
    background-color:darkgray;
    margin: 0 auto;
    padding: 20px;
}
header{}
.profile-pic{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: green;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.clear-div{
    clear: both;
}
hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
#personal-section{

}
.content{
    margin-bottom: 30px;
}
.content h1{

}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid 1px black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
/* education section start */
.edu-template-left{
    float: left;
    width: 45%;
}
.edu-template-right{
    float: left;
    width: 45%;
}
/* education section end */

/* footer setction start */
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.bottom-container p{
    color: white;
    margin-top: 20px;
}
/* footer setction end */